body {
    background: #EEE;
    margin: 0;
    padding: 0;
}

/* NAVIGATION */

.navigation {
    box-sizing: border-box;
    background-color: #3587A4;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}